/* Space out content a bit */
 body {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
 .header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 19px;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
  padding-bottom: 0px;
}
/* Custom page footer */
 .footer {
  margin-top: 20px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.content {
  max-width: 730px;
}
.question-list {
  margin-top:20px;
}
.jumbotron {
  font-size: 3em;
  color: #07F;
  padding: 20px;
}
.quizzanswer {
  font-size: 1.5em;
  color: #4A4;
  padding: 10px;
}
.vcenter {
  display: table !important;
  vertical-align: middle;
  float: none;
}
